.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  position: relative;
  top: -16px;
}
  
.tab button {
  position: inherit;
  top: 1px;
  background-color: inherit;
  color:#393E46;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
  
.tab button:hover {
  background-color: #393E46;
  color:#EEEEEE;
}
  
.tab button.active {
  background-color: #393E46;
  color:#EEEEEE;
}
  
.tabcontent {
  display: none;
  position: relative;
  top: -16px;
  padding: 6px 12px;
  border-top: none;
  border-bottom: none;
}

.navButton {
  background-color: inherit;
  color:#393E46;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.navButton button:hover {
  background-color: #393E46;
  color:#EEEEEE;
}

.name {
  background-color: #393E46;
  color: #00ADB5;
  padding: 8px 10px;
  border-radius: 5px;

}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #393E46;
  border-radius: 50%;
  border-top: 16px solid #00ADB5;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.black {
  background-color: #222831;
  color: #222831;
}

.grey {
  color: #393E46;
}

.grey-back {
  background-color: #393E46;
}

.blue {
  color: #00ADB5;
}

.blue-back {
  background-color: #00ADB5;
}

.white {
  color: #EEEEEE;
}

.white-back {
  background-color: #EEEEEE;
}